h1 {
    color: palevioletred;
    font-size: 200%;
}
p {
    font-family: "Trebuchet MS";
    text-indent: 20px;
    margin-left: 10px;
}

#content {
    background-color: #74c988;
    width: 1350px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 1px #444444;
    font-size: 20px;
}